* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8D79F4;
}


#password,#validation {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #8D79F4;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.genereter {
    width: 350px;
    background-color: #fff;
    height: 300px;
    padding: 35px 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.genereter h3 {
    font-size: 32px;
    padding-bottom: 20px;
}

.genereter h3 span {
    color: #7601CD;
}

.checkBtn {
    font-size: 18px;
    color: #fff;
    width: 300px !important;
    border: none;
    border-radius: 5px;
    background-color: #7601CD;
    padding: 10px;
    cursor: pointer;
}

.hidden{
    position: absolute;
    margin-left: -40px;
    margin-top: 15px;
}

.btn-s-w{
    font-size: 18px;
    color: #fff;
    width: 140px !important;
    border: none;
    border-radius: 5px;
    background-color: #7601CD;
    padding: 10px;
    cursor: pointer;
}

.genereter button:hover {
    background-color: #8D79F4;
    transition: 0.3s ease-in-out;
}

.genereter .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}


div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #7066e0;
    color: #fff;
    font-size: 1em;
    width: 180px;
}